*.bbl
kerettanterv.*
kerettanterv.blg
kerettanterv.fdb_latexmk
kerettanterv.fls
kerettanterv.log
kerettanterv.toc
kerettanterv.pdf
chapters/kerettanterv/eredmenyek-template.fdb_latexmk
chapters/kerettanterv/eredmenyek-template.fls
chapters/kerettanterv/eredmenyek-template.log
chapters/kerettanterv/eredmenyek-template.pdf
chapters/kerettanterv/eredmenyek-template.synctex.gz
*.aux
*.blg
*.dvi
pedprog.fdb_latexmk
*.fls
*.log
*.toc
*.tdo
old/
diff/
*.aux
env/
.DS_Store
.vscode/
vacak.*
*.synctex.gz
the_model_book.blg
the_model_book.fdb_latexmk
the_model_book.fls
the_model_book.idx
the_model_book.ilg
the_model_book.ind
the_model_book.log
the_model_book.pdf
3_interdiszplin.docx
bps_level_miniszterelnokurnak.pdf
diff.pdf
hazirend.docx
hazirend.pdf
logo.png
orban_level.pdf
orban_level.tex
org_chart.png
pedprog.pdf
szmsz.pdf
the_model_book.toc
wileysix.cls