*.bbl
kerettanterv.aux
kerettanterv.blg
kerettanterv.fdb_latexmk
kerettanterv.fls
kerettanterv.log
kerettanterv.toc
pedprog.aux
pedprog.blg
pedprog.dvi
pedprog.fdb_latexmk
pedprog.fls
pedprog.log
pedprog.pdf
pedprog.toc
pedprog.tdo
old/
diff/
*.aux
env/
.DS_Store
.vscode/
.venv
