*.bbl
kerettanterv.aux
kerettanterv.blg
kerettanterv.fdb_latexmk
kerettanterv.fls
kerettanterv.log
kerettanterv.toc
kerettanterv.pdf
chapters/kerettanterv/eredmenyek-template.fdb_latexmk
chapters/kerettanterv/eredmenyek-template.fls
chapters/kerettanterv/eredmenyek-template.log
chapters/kerettanterv/eredmenyek-template.pdf
chapters/kerettanterv/eredmenyek-template.synctex.gz
*.aux
*.blg
*.dvi
pedprog.fdb_latexmk
*.fls
*.log
*.toc
*.tdo
old/
diff/
*.aux
env/
.DS_Store
.vscode/
vacak.*
*.synctex.gz
